<h1>シミュレーションページ</h1>
<div class="ear-image">
  <%= image_tag "ear_image_1920.jpg", id: "ear-image" %>
  <div class="add-drag-and-drop"></div>
</div>

<%# <div class="pierce-images">
  <table>
    <tr>
      
    </tr>
    <tr>
      <td><button type="button" id="button" >複製</button></td>
      <td><button type="button" id="button" >複製</button></td>
    </tr>
  </table>
</div> %>
<div class="pierce-images">
  <table>
    <tr>
      <td>
        <% if @pierce_image.present? %>
          <% @pierce_image.each do |pierce_image| %>
            <%= image_tag pierce_image.pierce_image.url, width: "50", height: "50" %>
            <p><%= pierce_image.pierce_image_name %>
          <% end %>
        <% else %>
          <p>”データがありません"</p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><button class="btn btn-primary" id="button" >複製</button></td>
    </tr>
  </table>
</div>

