<div class="page_title" style="font-size: 40px; margin-bottom: 20px;">
  <h1>Simulation</h1>
</div>
<div class="flex flex-col w-full lg:flex-row" style="margin-left: 300px; padding-bottom: 10px;  ">
 <%# 耳画像 %>
  <div class="grid">
    <div class="ear-image">
      <div class="indicator">
        <span class="indicator-item indicator-center indicator-middle">
          <div class="add-drag-and-drop" ></div>
        </span> 
        <div class="grid w-32 h-32 bg-base-300 place-items-center" style="width: 350px; height: 400px;">
          <%= image_tag "ear_image_1920.jpg", id: "ear-image"%>
        </div>
      </div>
    </div>
  </div>
  <div class="divider lg:divider-horizontal"></div>
  <%# ピアス画像データ%>
  <% if @pierce_image.present? %>
    <% @pierce_image.each do |pierce_image| %>
      <div class="card-compact" style="width: 30px; height: 30px; margin-right: 50px;">
        <figure id="image" style="width: 20px; height:20px;">
          <%= image_tag pierce_image.pierce_image.url %>
        </figure>
        <div class="card-body items-center text-center">
          <div class="card-actions justify-end">
            <% number = @pierce_image.length %>
            <% (1..number).each do |n| %>
            <button class="btn btn-primary" id= "<%= "button-#{n}" %>">複製</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>”データがありません"</p>
  <% end %>
</div>

