<h1>シミュレーションページ</h1>
<div class="ear-image">
  <%= image_tag 'ear_image_1920.jpg', id: "ear-image", width: 350, height: 400 %>
  <%# <div class="drag-and-drop" id="copy-pierce-images"></div> %>
</div>

<div class="pierce-images" >
  <%= image_tag 'pierce.png', id: "pierce", width: 100, height:100 %>
  <%= image_tag 'ring_pierce.png', id: "ring_pierce", width: 300, height:300 %>
</div>

<button type="button" id="button" >複製</button>

