<div class="container">
  <div class="row">
    <div class="text-center m-4">
     <h1>Password Reset</h1>
     <div class="explain mt-3">
       <p>登録したEmailアドレスをご入力ください。</p>
       <p>入力されたEmailアドレス宛にパスワード更新用のURLをお送りします。</p>
     </div>
    </div>
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2" style="margin-top: 30px">
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit "送信",class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

    