<div class='mr10 float-right'>
  <%= link_to bookmarks_path(coordinate_image_id: coordinate_image.id), method: :post , id: "js-bookmark-button-for-coordinateimage-#{coordinate_image.id}" do %>
    <%= image_tag '/icon/unbookmark.png'%>
  <% end %>
</div>