<div class="container-fruid">
  <h1> Bookmarks</h1>
  <div class="row g-5">
   <% if @bookmark_coordinate_images.present? %>
     <%= render @bookmark_coordinate_images %>
   <% else %>
    <p>お気に入りはありません</p>
   <% end %>
  </div>
</div>