<%= javascript_pack_tag 'coordinate_images/download' %>

<div class="container-fluid"> 
  <h1>Myコーディネート画像一覧</h1>
  <%# <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%# <%= render 'search_form', url: boards_path, search: @search%> 
    <%# </div>
  </div> %>
  <!-- コーディネート一覧 -->
  <div class="row g-5">
    <% if @my_coordinate_images.present? %>
      <%= render partial: 'my_coordinate_image', collection: @my_coordinate_images %>
    <% else %>
      <p>コーディネート画像がありません</p>
    <% end %>
  </div>
  <%= paginate @my_coordinate_images %>
</div>