<% content_for(:title, "#{@tag} Images") %>
<div class="container">
  <h1 class="text-center"><%= "「#{@tag}」タグの投稿" %></h1>
    <div class="row g-5">
        <% if @image.present? %>
          <%= render partial: 'tag_image', collection: @image %>
        <% else %>
          <p><%= "#{@tag}に投稿された画像はありません"%></p>
        <% end %>
    </div>
  <%= paginate @image %>
</div>
