<div class="container mx-auto">
  <div class="menu-button" >
    <div class="login btn btn-primary">
      <%= link_to "Login", login_path %>
    </div>
    <div class="guest-user btn btn-primary">
      <%= link_to "Guest User", simulation_page_path %>
    </div>
  </div>
  <div class="newuser">
    <%= link_to "ユーザー登録はこちら", new_user_path, class: 'btn btn-default' %>
  </div>

</div>
