<h1>Piercing Simulation</h1>

<button>Login</button>

<button>Guest User</button>

<br>
<br>
<%= link_to "About", "/" %>
<%= link_to "利用規約", "/" %>
<%= link_to "プライバシーポリシー", "/" %>
<%= link_to "お問合せ", "/" %>