<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5" style="padding-top: 10px">
      <div class="row mt-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <a href="#!" class="text-reset">About</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <a href="#!" class="text-reset">利用規約</a>
        </div>
         <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <a href="#!" class="text-reset">プライバシポリシー</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <a href="#!" class="text-reset">お問合せ</a>
        </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: Piercing Simulation
  </div>
</footer>