// Place all the styles related to the simulation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// .drag-and-drop {
//   cursor: move;
// }


.moveable-control {
  display: block;
  position: absolute;  
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid gray!important;
  box-sizing: border-box;
  background: #afafb0!important;
  margin-top: -7px;
  margin-left: -7px;
  z-index: 10;
}

.moveable-direction.moveable-n, .moveable-direction.moveable-w, .moveable-direction.moveable-e, .moveable-direction.moveable-s, .moveable-origin {
  display: none;
}

.moveable-line {
  position: absolute;
  width: 1px;
  height: 1px;
  background: black!important;
  transform-origin: 0px 0.5px;
}


.drag-and-drop {
  position: absolute;
  top: 100px;
  width: 50px;
  height: 50px
}
