// Place all the styles related to the top_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
  width: 100%;
  max-width: 960px;
  height: 435px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.menu-button{
  padding: 100px;
  padding-bottom: 50px;
}

.login{
  margin-right: 20px;
}

